* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.header {
  color: #fff;
  background-color: rgb(65, 65, 65);
  padding: 20px 50px;
}

.header__body {
  display: flex;
  justify-content: space-between;
}

.basket {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

.items {
  margin: 50px 0px;
}

.items h3 {
  font-size: 24px;
}
.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  margin: 10px 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(36, 36, 36);
  color: white;
  flex: 1 1 200px;
}

.card p {
  font-size: 20px;
}

.card h4 {
  font-size: 24px;
}

.card button {
  background-color: orange;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
}

.card img {
  width: 150px;
}
.item {
  background-color: blue;
  width: 30%;
}
.basket_btn {
  font-size: 24px;
}
